@import "../../../src/module-base.scss";
.header {
  position: relative;
  width: 100%;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.banner-image {
  position: relative;
  display: block;
  margin: auto;
  max-width: 70%; 
  max-height: 70vh; 
  height: auto;
  z-index: 1;
}

@media (max-width: 767px) {
  .banner-image {
    max-width: 80%; 
  }
}

